@charset "UTF-8";
/*! 使用した命名規則は「BEM」です */
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  background-repeat: no-repeat;
}

body {
  font-size: 0.8rem;
  writing-mode: vertical-rl;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: normal;
}

img {
  object-fit: cover;
}

.footer {
  text-orientation: upright;
}