$header-color: #fff;
$header-btn-color: #444;
$section-margin: 200px;
$section-sp-margin: 80px;
$sp-font-size: 1.5rem;
$en-margin: 20px;
$footer-bg: #000;
$nav-margin: 20px;

// メディアクエリ
$breakpoints: (
  "sp": "screen and (max-width: 775px)",
);
